In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
%matplotlib inline

In [4]:
crime = pd.read_csv('boston_crime.csv')

In [5]:
crime.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I192028175,3831,Motor Vehicle Accident Response,M/V - LEAVING SCENE - PROPERTY DAMAGE,E5,717,NaN,2019-04-14 16:00:00,2019,4,Sunday,16,Part Three,CENTRE LN,42.270945,-71.160865,"(42.27094455, -71.16086461)"
1,I192028168,3410,Towed,TOWED MOTOR VEHICLE,C11,340,NaN,2019-04-16 20:25:00,2019,4,Tuesday,20,Part Three,DRAPER ST,42.305407,-71.065471,"(42.30540715, -71.06547135)"
2,I192028167,3006,Medical Assistance,SICK/INJURED/MEDICAL - PERSON,B3,459,NaN,2019-04-16 20:57:00,2019,4,Tuesday,20,Part Three,GLENARM ST,42.304385,-71.079945,"(42.30438536, -71.07994459)"
3,I192028166,413,Aggravated Assault,ASSAULT - AGGRAVATED - BATTERY,B2,291,NaN,2019-04-16 20:52:00,2019,4,Tuesday,20,Part One,CENTRE ST,42.329554,-71.093574,"(42.32955354, -71.09357444)"
4,I192028166,802,Simple Assault,ASSAULT SIMPLE - BATTERY,B2,291,NaN,2019-04-16 20:52:00,2019,4,Tuesday,20,Part Two,CENTRE ST,42.329554,-71.093574,"(42.32955354, -71.09357444)"

In [6]:
neighborhoods = pd.read_csv('boston_neighborhoods.csv')

In [7]:
neighborhoods.head()

,OBJECTID,Name,Acres,Neighborhood_ID,SqMiles,ShapeSTArea,ShapeSTLength
0,27,Roslindale,1605.568237,15,2.51,6.993827e+07,53563.912597
1,28,Jamaica Plain,2519.245394,11,3.94,1.097379e+08,56349.937161
2,29,Mission Hill,350.853564,13,0.55,1.528312e+07,17918.724113
3,30,Longwood,188.611947,28,0.29,8.215904e+06,11908.757148
4,31,Bay Village,26.539839,33,0.04,1.156071e+06,4650.635493

In [8]:
weather = pd.read_csv('boston_weather.csv')

In [10]:
weather.columns

Index(['STATION', 'NAME', 'DATE', 'AWND', 'PGTM', 'PRCP', 'SNOW', 'TAVG',
       'TMAX', 'TMIN', 'WDF2', 'WDF5', 'WSF2', 'WSF5', 'WT01', 'WT02', 'WT03',
       'WT04', 'WT05', 'WT06', 'WT08', 'WT09'],
      dtype='object')

In [ ]:
['STATION', 'NAME', 'DATE', 'AWND', 'PGTM','PRCP', 'SNOW', 'TAVG',
       'TMAX', 'TMIN', 'WDF2', 'WDF5', 'WSF2', 'WSF5', 'WT01', 'WT02', 'WT03',
       'WT04', 'WT05', 'WT06', 'WT08', 'WT09']